@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Spirax&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 100vh;
}

.container {
  height: 100vh;
  background: url("/public/bg.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 1.2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  font-family: "Spirax", sans-serif;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 2rem;

  color: white;

  border-color: white;
  border-radius: 2rem;

  background-color: transparent;
}

.button:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 1rem;
  }

  .button {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}
